# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode build artifacts
build/
DerivedData/

# Xcode user settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Xcode other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.package.workspace/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Playgrounds
timeline.xctimeline
playground.xcworkspace/

# SwiftLint cache
.swiftlint_cache

# Tuist
Tuist/Dependencies/

